{{ define "base" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{CoreApp.Name}} - Service Monitoring</title>
    <meta name="title" content="{{CoreApp.Name}} - Service Monitoring">
    <meta name="description" content="{{CoreApp.Description}} {{CoreApp.Name}}">
    <base href="{{BasePath}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="description" content="{{CoreApp.Description}}">

    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="data:image/x-icon;base64,
        iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAJsnpUWHRSYXcgcHJvZmlsZSB0eXBl
        IGV4aWYAAHjatZdnkiO7EYT/4xQ6Arw5DmyEbqDj6ysA5JBjdt9uSORwugmiYTKrshJq/uffS/2L
        l7PaKx9SjiVGzcsXX2zlJuvzOlej/f6/X/b+xPe3dvX8wdLkuLrzNc7bv9IePh5I/ra393aV+h0n
        34HuD48Bncwss427yDuQs6fd3O+q3CXV+LKd+3Hp7OTR+fN3nwBjBBqdVXY64/T+b89M7nwqH8d/
        7uloXNwt8t/vnp/wU0/ovgHwefcJP91vu/uA4wz02Fb8hNNtN+F7/DZKrysy9jmzfV1RbLrp19cL
        fmuNvNY8u6s+KuCKd1OPrew7OjKId/uxyDvxCdyn/S68s666A/xgq00xZzfFWBBfxpthqllm7ms3
        nSV6O23iam23brdll2yx3QkFXt5m2aRcccNluOkw54SR51rMnrfIfEyWmXkYelrDYHD8/lafG/72
        /TbQWhLmxuj8xIp1WYkaliHMyX96QYhZF9Ow8TXqXPTnlxDrYDBsmDMbrLqdIVowH7HlNs9OB0VX
        r0/ImzTuAEDE3IHFGAcDOhoXTDQ6WZuMAccMP5WVW+dtgwETVLCDVVrvXIScbGVunklm97XBnmbk
        BSICKZKgprgKWd4HH8m3TAhVFVzwIYQYUsihhBpd9DHEGFMUnarJJZ9CiimlnEqq2WWfQ4455ZxL
        rsUWh4wFVWJJJZdSamXS6itjVfpXGpptrvkWWmyp5VZa7YRP9z302FPPvfQ67HADCVAjjjTyKKNO
        Mwml6WeYcaaZZ5l1EWvLLb/CiiutvMqqT9Yuq++sfWbu16yZy5rdREm/9MEazSk9hjAiJ0E4gzHr
        DYwnYYCAtsKZzsZ7K8wJZ7pYp5wLllUGIWcYYQwG/TQ2LPPk7oO5H3lToPunvNnvmFNC3f+COSXU
        vTD3lbdvWBt1y63bBEkWgikK6Ug/Osxcba5Sl/7qqv72wdfrajkquV9ZAJGvf/Ut1pqnamOs2cOa
        KDlSoz2xMFOJ3OqSBBZEyvUY5YnIIt57B+S0SV/lp1xoRNZzHybMPvyqbjWT1u6S00Inagd2QdPy
        gNntPECUh5WQ4KCmMROo9Xo0eUmjP/+m/lFXH6Tcv17ZdBjEZHeJCJstKnKl5dL9ohgSl610HVJz
        u/MwkQISViCuVqoruRmdEdgwHYOtNgYJq2Z6KyYfgDv3bEGcxg/XQLXaAAZKJb6E8etk4XVER4lU
        NK5ZSx9zjrnirBfyYmQZYbmRSYq9XnKkLN9y6Cw22kUm9TNPskaNLPdhcxdGy66bNWJcddROihZc
        IXNbmZvttUXSjbislmi0bZa+snNdWwKSHKqy6VUy4aJZ35C+ALKcHb0DZdsLpn22xLqnvwuB8Xo5
        UJcE4E1pHmjrhpat99XTPDtve+dp1jvEiFiE/gKk+jXCP1wvjiOECmss3UJ/Gm11ptVlTr+yaNea
        gbxxAttJzRX9Kv7gkgUF+YCIRaFMyW7VrgaaFfIKF44anvyBagWOlA8KzKwB6CMsn9EWJdrUW7i5
        9kO4/T7a1O9AGRX9dii6A/Iah58lOWZ3kbiqhEudqLHJqsMRWYw/Yyt+3Pjwrs8PSM5VouXnYFG/
        jBZJiUdqhJmjb0g3scni2CdKhRaJSF/6U6McLP1dkp+rjCWHH4eKoWQSXrBslqchB8HUL4X0I2r2
        xln24pFOap5YYV5qDEysI359yYNU3TUkYE/c0F+FlyURXzk2Z5suw7fkXa1lmDZQJOATqJCR5m1l
        o6K62K/kWpPknapihGf2c6Y+fXX95oDDFj/KRANlRpv7SmEUkZeVeTery1vdJ1ILYivorezd1DHr
        nGCo2+yuEKxj9ogGTDJdNJDZ2eh4RLxHyfO+V68Vqu1iwSN+mZYHUpJOWJoVXaa2phEYfUz+xmOw
        qdE1XdVLrEiIzNHNJDqaSxIfrjciA+Ncyx4zNRleNK5osR4YmMCyUue8FpMJgcyhvvceokbSSZgc
        /ExtRwh/Fml9hGWYsr9pLcMSc7pDJ+dShWEIz3DOXxFm7faEcHNxL3L43tJZJCVEFtlYpIrEpsnj
        hBHs++/Sbkc3x5HR4xoBoRmjEZdyXsmavS6XKNmkeKsPqWCnI+e3CtbWSJy5l6aUFSlhzYjvCYXx
        fDuDziWuloF6vnziz6bujw3m2fAJCCClo/ZaDY6JOjHtKnocPByHK73p35whZS0DB52nToXDYSB1
        ICzsDeLNypc9R3d20cqYX/XoN2Xw+yoow6nPqGxIRF1PkePHwIZJ3lPkAmkw7siNasloi92tqb6D
        Bkg8u62y240MKjnbRubshpQpL+IdQ+gKjUA68choYu9mQAMpfgwlRulm0ksibXkkMZcp54qDD6up
        hMoP8SJ9nTLUt1DdGB2Y3PR1LMbgt1IlOW9mKiJULHAb4hB2apLccZGahEUdw7+l5rOwXeWWPJFy
        uapCO71EKXbaEvqi3CAoYkG5IMkpDcAPHF7SE9WyFjVzs2Hm5UxRJ9FKWmLYsVds8iZcYZUXReOI
        6Bb6DHKEqF1LdhaLl/8uObeMNIaGHRLeu8SRM1FK1i7AdjyBRaYSciwyVdfJ1oKU5yUyFZeS9QMG
        onfcrzzQcNBfytpHeXta5YaXephldbx1pQXDLfi9e2sJMp1X3cDCk8hf+mSdIXYt/FHjl1ke9uNp
        QBInmGnLiH5jpANndmYhK/xwdUAMKeNAFYWkuijXys7e2obnfAjwZVCY5uacY9kqg8P4/G1tUd8X
        l0dt2Zj1wE/6okIESiSilwf4sWUyNjAy4yBPgUi7QDyrDbaAuvkD6J+u6ssP1tVOmjUOkn0mTeKF
        mmQSDMsciYjztiWqMW6kbyOzOur4OK/BvutfjmJtOxkCAsNfJBH6kGNpXlKkOEzfAkB6DUVtaVIA
        ri/rngrw9Jxi7ihepFwaHcrQGhuoPaev9y/irn6yMt+cYxDDLZumiV08Dv7IpnYc/BK6KUkaqYZy
        AAhT76fMuz629it9zLtkf9bHTbm+1hdgqDJbILbzPQLxmLtsaxcfjg1lJJB/dOcbqWPasHrvpm1n
        g9g2xZl+mzbyxl7nLDukS/8H54Br6/TOtQ9nt8+pBMJ6c3aXT86sy7/WrX2eOoBSiBVSswLCK4fH
        U4kp7yk91UVUmKjZB4aPg9U5RQi+2yU7YQ2PYal+xyUD5T5EwB3lr+xDRPx6pvomPtTnhn3g2jsf
        mN3rPtpxH7L/4z5knft88XTASp4Y71SITn3xv4c2Qt8dcxOPDyFdjrlRKPAjXZ7mBi2of3qGU398
        6Pu/DQQOo1CO/guC24r6lX9nEQAAAYRpQ0NQSUNDIHByb2ZpbGUAAHicfZE9SMNQFIVPW6UilQ5m
        EHHIUJ2siIo4ahWKUCHUCq06mLz0D5o0JCkujoJrwcGfxaqDi7OuDq6CIPgD4uTopOgiJd6XFFrE
        eOHxPs675/DefUCwUWGa1TUOaLptppMJMZtbFcOvCEFAFAGMycwy5iQpBd/6uqc+qrs4z/Lv+7P6
        1LzFgIBIPMsM0ybeIJ7etA3O+8QCK8kq8TnxqEkXJH7kuuLxG+eiy0GeKZiZ9DyxQCwWO1jpYFYy
        NeIp4piq6ZQfzHqsct7irFVqrHVP/sJIXl9Z5jqtISSxiCVIEKGghjIqsBGnXSfFQprOEz7+Qdcv
        kUshVxmMHAuoQoPs+sH/4PdsrcLkhJcUSQDdL47zMQyEd4Fm3XG+jx2neQKEnoErve2vNoCZT9Lr
        bS12BES3gYvrtqbsAZc7wMCTIZuyK4VoBQsF4P2MvikH9N8CvWve3FrnOH0AMjSr1A1wcAiMFCl7
        3efdPZ1z+7enNb8fPm5ykg2KGDoAABNwaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNr
        ZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/Pgo8eDp4bXBtZXRh
        IHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA0LjQuMC1FeGl2MiI+
        CiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5
        bnRheC1ucyMiPgogIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICB4bWxuczppcHRj
        RXh0PSJodHRwOi8vaXB0Yy5vcmcvc3RkL0lwdGM0eG1wRXh0LzIwMDgtMDItMjkvIgogICAgeG1s
        bnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICB4bWxuczpzdEV2
        dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIgogICAg
        eG1sbnM6cGx1cz0iaHR0cDovL25zLnVzZXBsdXMub3JnL2xkZi94bXAvMS4wLyIKICAgIHhtbG5z
        OkdJTVA9Imh0dHA6Ly93d3cuZ2ltcC5vcmcveG1wLyIKICAgIHhtbG5zOmRjPSJodHRwOi8vcHVy
        bC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5j
        b20vZXhpZi8xLjAvIgogICAgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bo
        b3Rvc2hvcC8xLjAvIgogICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEu
        MC8iCiAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgIHhtcE1N
        OkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo2NTgyOWI0Yy1jMzBhLTExN2EtOTQz
        NS1mZDQ3YWMwODVhZmEiCiAgIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NmNhNDY3MWMtNjg2
        OC00YjRjLWJlYWEtODkxMjMyYmQ5ZTgzIgogICB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9Inht
        cC5kaWQ6YWUwMTNiZDUtYTNmYy00N2EzLTk5OTAtYzllYWI1ZjIyYzM4IgogICBHSU1QOkFQST0i
        Mi4wIgogICBHSU1QOlBsYXRmb3JtPSJNYWMgT1MiCiAgIEdJTVA6VGltZVN0YW1wPSIxNTg0NzE2
        ODA1MDExODg2IgogICBHSU1QOlZlcnNpb249IjIuMTAuMTIiCiAgIGRjOkZvcm1hdD0iaW1hZ2Uv
        cG5nIgogICBleGlmOkNvbG9yU3BhY2U9IjY1NTM1IgogICBleGlmOlBpeGVsWERpbWVuc2lvbj0i
        MTA3NyIKICAgZXhpZjpQaXhlbFlEaW1lbnNpb249IjEwMjciCiAgIHBob3Rvc2hvcDpDb2xvck1v
        ZGU9IjMiCiAgIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJDb2xvck1hdGNoIFJHQiIKICAgdGlmZjpP
        cmllbnRhdGlvbj0iMSIKICAgdGlmZjpSZXNvbHV0aW9uVW5pdD0iMiIKICAgdGlmZjpYUmVzb2x1
        dGlvbj0iNzIwMDAwLzEwMDAwIgogICB0aWZmOllSZXNvbHV0aW9uPSI3MjAwMDAvMTAwMDAiCiAg
        IHhtcDpDcmVhdGVEYXRlPSIyMDE3LTA4LTE2VDE0OjExOjI1KzAyOjAwIgogICB4bXA6Q3JlYXRv
        clRvb2w9IkdJTVAgMi4xMCIKICAgeG1wOk1ldGFkYXRhRGF0ZT0iMjAxNy0wOC0xNlQxNDoxMToy
        NSswMjowMCIKICAgeG1wOk1vZGlmeURhdGU9IjIwMTctMDgtMTZUMTQ6MTE6MjUrMDI6MDAiPgog
        ICA8aXB0Y0V4dDpMb2NhdGlvbkNyZWF0ZWQ+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpM
        b2NhdGlvbkNyZWF0ZWQ+CiAgIDxpcHRjRXh0OkxvY2F0aW9uU2hvd24+CiAgICA8cmRmOkJhZy8+
        CiAgIDwvaXB0Y0V4dDpMb2NhdGlvblNob3duPgogICA8aXB0Y0V4dDpBcnR3b3JrT3JPYmplY3Q+
        CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpBcnR3b3JrT3JPYmplY3Q+CiAgIDxpcHRjRXh0
        OlJlZ2lzdHJ5SWQ+CiAgICA8cmRmOkJhZy8+CiAgIDwvaXB0Y0V4dDpSZWdpc3RyeUlkPgogICA8
        eG1wTU06SGlzdG9yeT4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGkKICAgICAgc3RFdnQ6YWN0
        aW9uPSJjcmVhdGVkIgogICAgICBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOmFlMDEzYmQ1LWEz
        ZmMtNDdhMy05OTkwLWM5ZWFiNWYyMmMzOCIKICAgICAgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRv
        YmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoTWFjaW50b3NoKSIKICAgICAgc3RFdnQ6d2hlbj0iMjAx
        Ny0wOC0xNlQxNDoxMToyNSswMjowMCIvPgogICAgIDxyZGY6bGkKICAgICAgc3RFdnQ6YWN0aW9u
        PSJzYXZlZCIKICAgICAgc3RFdnQ6Y2hhbmdlZD0iLyIKICAgICAgc3RFdnQ6aW5zdGFuY2VJRD0i
        eG1wLmlpZDphMzYyOWQ4YS02Y2VjLTQxYzEtYWE0Yi05ODJhNTY4NzVjYzYiCiAgICAgIHN0RXZ0
        OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1LjUgKE1hY2ludG9zaCkiCiAg
        ICAgIHN0RXZ0OndoZW49IjIwMTctMDgtMTZUMTQ6MTE6MjUrMDI6MDAiLz4KICAgICA8cmRmOmxp
        CiAgICAgIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiCiAgICAgIHN0RXZ0OmNoYW5nZWQ9Ii8iCiAgICAg
        IHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6ZTYwMTk0YWMtZmI1YS00NTdiLTllNTktMzU4OTJm
        NTU1YTY1IgogICAgICBzdEV2dDpzb2Z0d2FyZUFnZW50PSJHaW1wIDIuMTAgKE1hYyBPUykiCiAg
        ICAgIHN0RXZ0OndoZW49IjIwMjAtMDMtMjBUMTY6MDY6NDUrMDE6MDAiLz4KICAgIDwvcmRmOlNl
        cT4KICAgPC94bXBNTTpIaXN0b3J5PgogICA8cGx1czpJbWFnZVN1cHBsaWVyPgogICAgPHJkZjpT
        ZXEvPgogICA8L3BsdXM6SW1hZ2VTdXBwbGllcj4KICAgPHBsdXM6SW1hZ2VDcmVhdG9yPgogICAg
        PHJkZjpTZXEvPgogICA8L3BsdXM6SW1hZ2VDcmVhdG9yPgogICA8cGx1czpDb3B5cmlnaHRPd25l
        cj4KICAgIDxyZGY6U2VxLz4KICAgPC9wbHVzOkNvcHlyaWdodE93bmVyPgogICA8cGx1czpMaWNl
        bnNvcj4KICAgIDxyZGY6U2VxLz4KICAgPC9wbHVzOkxpY2Vuc29yPgogIDwvcmRmOkRlc2NyaXB0
        aW9uPgogPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
        ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg
        ICAgICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSJ3Ij8+i5cDOgAAAAZiS0dE
        AP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+QDFA8GLcED9eIAAANOSURB
        VFjD7ZdLSFRRGMd/nhmz0SgxMr09tU7aG9pEL8JQIloVXSgTpMcucFFUq7O6telBm2oRWFAYhbTv
        Cb1oEUX2sseFQm1GGzFKmdHRmbktvNqg9wxTU0TQ2d3z/e/5/7/zne8734H/4y+PnEyBBUfsnIjD
        EiDXnYoH4GW/ks6fE2DZE4FawASqAf8YRBy4AzQDl1GyX7tWc2gWUIppPM5MgGXXAqeA4gydCQP7
        UbLJg3w1cAWYACzFNLr1Aiw7H2gEtv/irl4FdqNk1CXfBZwG8l17E6ZR5y1gmPwGsDbLs/WQPLGJ
        ssBRoMHDvnIkFGKM4dxvIIdEfDXRYFBDDnBo/A5Y9lbgWgbLvwccoMLTGosm+NjiIxaFqlVJiouF
        Zp0ZmEZIuOQ+4Fga0i5gL1CIkhUoWQlMAfYAoVFUX08S+/EwOcDTFw6Oo0vTHakh2ALM0wAfAItR
        shElv43OKtmLkueBJcB9utuSfHgmSMR//Nkb8REO6wTUpArYqQF1A9tQ8ot2byoLYpT5+/j2yTul
        O4K6VF+VKmCdBnQUJcNpiksZ0EJe3maWVXpjgp91OzCZ5tBMgWUXAVPT5LSOvAZ4AUgASku8cQOD
        gsHBhGaV6QIo1xiHULJLQ34QuAlMGp3LnZCDTyS9MyPm03D4RZqTn84WBKLjZp2fvpccAbzTGH1Y
        9ixPi2lcBtYD7SleJkk63qIDAV0IEgIl+4BODaBeq900ngAr3TSFzk5v9wsCDn6/LgQdI4rvaQCH
        sew5aUR0AdVEB5poafX23ijWxaUH0wiP/HRJA5oE3MOy52pFvI0YtCfWUFIBOWI82eyZujrwaOxd
        0Aos1IAjbm9wESVtFz8fqAMOjGZDf6/Dx+cOQ7Fhx6YVwob1Oun7MI2zqQKqgVtZ34RDMWh7mSTy
        VVCzLkFRkVf840AJptEjUmr7beBE1gJy82DeCsHyZa805MMFzjR6xue6kgeBC9m3uuIias1S4LC2
        xGuLjZK7geNZ0J9EyXo3S44BG90zNDLOYBpvMmlKq9xeblGGxK1AA0re8Sjd5W6r53Ob0kjm7wLL
        3ui25lXA2MrYAdx1W/LraddpDuUDZZjG6196mLhicoEF7peNkoP/33b//PgO2ccAXUbm5jUAAAAA
        SUVORK5CYII=" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{CoreApp.Domain}}">
    <meta property="og:title" content="{{CoreApp.Name}} Service Monitoring">
    <meta property="og:description" content="{{CoreApp.Description}} {{CoreApp.Name}}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{CoreApp.Domain}}">
    <meta property="twitter:title" content="{{CoreApp.Name}} Service Monitoring">
    <meta property="twitter:description" content="{{CoreApp.Description}} {{CoreApp.Name}}">

    {{if USE_CDN}}
    <link rel="stylesheet" href="https://statping-ng.github.io/assets/hosted/vendor.css" />
    {{else}}
    <% _.each(htmlWebpackPlugin.tags.headTags, function(headTag) { %>
    <%= headTag %> <% }) %>
    {{end}}
</head>
<body>
<noscript>
    <strong>We're sorry but Statping doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app" class="statping_container"></div>

{{if USE_CDN}}
<script src="https://statping-ng.github.io/assets/hosted/bundle.js"></script>
<script src="https://statping-ng.github.io/assets/hosted/vendor.chunk.js"></script>
<script src="https://statping-ng.github.io/assets/hosted/polyfill.chunk.js"></script>
<script src="https://statping-ng.github.io/assets/hosted/main.chunk.js"></script>
{{else}}
<% _.each(htmlWebpackPlugin.tags.bodyTags, function(bodyTag) { %>
<%= bodyTag %> <% }) %>
{{end}}
</body>
</html>
{{end}}
