/*    Colors      */
$medium_grey: #BCC9D5;
$cherry_red_light: #FFF0F0;
$cherry_red: #D80F0C;
$meadow_green_light: #E6F3EC;
$meadow_green: #00833F;
$light_orange: #FFF0EB;
$secondary_orange: #FF6533;

.badge-outage {
    padding: 8px !important;
    min-height: auto !important;
}